#header{
	background-color: purple;
	height:auto;
	color:white;
	padding:1% 0% 1% 2%;
}
#header h1,h4{
	margin:0%;
}
.logo>a{
	color:white;
}
.logo>a:hover{
	text-decoration: none !important;
}
.navbar-nav>li>a{
	color:white;
	font-size:110%;	
}
.navbar-nav>li>a:hover,
.navbar-nav>li>a:focus{
	color:gray;
	background-color: transparent !important;
}
html,body{
	height:100%;
}