
#chatBox{
	height:100%;
	border:1px solid black;
	padding:0%;
	#background-color: #f6f6f6;
}
#chatInput{
	text-align: center;
	width:100%;
	padding-left: 6%;
	padding-right: 6%;
	position:absolute;
	bottom:1%;
}
textarea{
	width:100%;
	padding-left: 1%;
	margin:0%;
}
#chatText{
	width:100%;
	padding: 3% 6% 3% 6%;
	height:85%;
	overflow-y:scroll;
}
#trackSpace{
	height:100%;
	#border:1px solid black;
	background-color: white;
	position:relative;
}
#trackControl{
	text-align: center;
	height:auto;
	margin:2% 25% 0% 25%;
}
#trackControl span{
	font-size:40px;
	color:#454545;
}
#trackControl span:hover{
	color:teal;
	cursor: pointer;
}
#subBody {
	height:90%;
	padding-left:3%;
	padding-right:3%;
	padding-top: 1%;
	width:100%;
}
#sessionTitle{
	height:auto;
}
#sessionTitle h3{
	margin:0%;
	padding:0%;
}
hr{
	margin-top:10px;
}
#newTrack{
}
#bottomHalf{
	position:absolute; 
	bottom:1%;
}

#allTracks{
	height:65%;
	overflow-y:scroll;
}

.waveform{
	border-style: solid;
	border-radius: 1px;
	width:100%;
	height:50px;
}