
#chatBox{
	height:100%;
	border:1px solid black;
	background-color: #F4F4F4;
}
#trackSpace{
	height:100%;
	border:1px solid black;
	background-color: white;
	position:relative;
}

#trackControl{
	text-align: center;
	height:auto;
	margin:2% 25% 0% 25%;
}
#trackControl input{
	height:40%;
	width:40%;

}
#subBody {
	height:88%;
	padding-left:3%;
	padding-right:3%;
}
#sessionTitle{
	height:auto;

}
#sessionTitle h3{
	margin-top:2%;
	padding:0%;
}
hr{
	margin-top:10px;
}
#newTrack{
	border:2px solid black;
}
#bottomHalf{
	position:absolute; 
	bottom:5%;
}

#allTracks{
	height:50%;
}

