
#chatBox{
	border:3px solid black;
	height:100%;
}
#trackSpace{
	border:2px solid black;
	height:100%;
}
#allTracks{
}
#trackControl{
	text-align: center;
	height:10%;
	border:3px solid black;
}
#trackControl input{
	height:15%;
	width:15%;
}
#subBody {
	height:89%;
}
#sessionTitle{
	padding-left:5%;
	height:5%;
}
#sessionTitle h3{
	margin:0%;
}
